h1{
    text-align: center;
    font-size: 60px;
    color:rgb(255, 217, 0)
}
h2{
    text-align: center;
    font-size: 38px;
    color:rgb(255, 115, 0)
}
h3{
    text-align: center;
    font-size: 38px;
    color:rgb(238, 114, 13)255)
}

body{
    background-color:gainsboro
}