h1{
    text-align: center;
    font-size: 60px;
    color:rgb(255, 217, 0)
}
h2{
    text-align: center;
    font-size: 38px;
    color:rgb(255, 255, 255)
}
h3{
    text-align: center;
    font-size: 38px;
    color:rgb(255, 115, 0)255)
}

body{
    background-color:rgb(43, 43, 43)8)218, 8, 8);
}